.todos-footer {
  padding: 2em 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 
    0 3px 0 rgba(0, 0, 0, 0.3),
    0 6px 0 rgba(0, 0, 0, 0.10),
    0 9px 0 rgba(0, 0, 0, 0.05);
}
