<div *ngIf="todo" class="todo">
  <label class="todo-toggle" [for]="todo.id">
    <input type="checkbox" name="todo-toggle" [id]="todo.id">
    {{todo.todo }}
  </label>
  <div class="todo-actions">
    <a class="button button-icon" [routerLink]="['/todos', todo.id]" *ngIf="!isDetail">Detail</a>
    <button class="button button-icon button-info" (click)="handleEditTodo()">Edit</button>
    <button class="button button-icon button-danger" (click)="handleDeleteTodo()">Del</button>
  </div>
</div>
