<div class="app-signup">
  <form class="form-signup">
    <div class="form-group">
      <label for="username" class="sr-only">Enter your email</label>
      <input type="email" id="username" name="username" class="form-input" placeholder="Here your email">
    </div>
    <div class="form-group">
      <label for="password" class="sr-only">Create a password</label>
      <input type="password" id="password" name="password" class="form-input" placeholder="Here your password">
    </div>
  </form>
</div>
