.app-todos {
  display: grid;
  padding: 2em;
  width: min(500px, 60%);
  margin-inline: auto;
}
app-todo-header {
  padding-bottom: 0.5em;
  background-color: #fff;
  border-bottom: 3px double #dbdbdb;
}
