.app-todos {
  display: grid;
  place-content: center;
  padding: 2em;
}
.todos-title {
  background-color: #fff;
  text-align: center;
  font-size: 2rem;
  font-family: monospace;
  padding: 0.25em 1em;
}
.todos {
  background-color: #fffff8;
  margin: 0;
  list-style: none;
  padding: 0;
}
.todos-item {
  padding: 0.5em 1em;
}
.todos-item {
  border-bottom: 1px solid #dbdbdb;
}
