.app {
  background-color: #fff8ff;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}
.app-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}
