<div class="app-auth app-signin">
  <form class="form-signin" (ngSubmit)="handleLogin()" [formGroup]="userForm" data-test-id="loginForm">
    <div class="form-group">
      <label
        for="username"
        class="sr-only"
      >Enter your register email</label>
      <input
        type="email"
        id="username"
        name="username"
        class="form-input"
        placeholder="Here your email"
        autocomplete="username"
        formControlName="email"
      >
    </div>
    <div class="form-group">
      <label
        for="password"
        class="sr-only"
      >Enter your password</label>
      <input
        type="password"
        id="password"
        name="password"
        class="form-input"
        placeholder="Here your password"
        autocomplete="current-password"
        formControlName="password"
      >
    </div>
    <div class="form-group text-center">
      <button
        type="submit"
        class="button"
        [disabled]="userForm.invalid"
        data-test-id="loginBtn"
      >Login</button>
    </div>
    <div class="form-group"><span>Don't have an account <a
          type="button"
          class="button"
          routerLink="/auth/register"
        >Register</a></span></div>
  </form>
</div>
